$compo-color: #8f8f8f;
$back-color:     #e2e2e2;

body { 
    margin: 0px !important;
}
.p-0 {
    padding: 0px !important;
}
.container {
    padding: 0px !important;
}
.bder-0 {
    border-color: transparent !important;
}

#c-nav {
    background-color: $compo-color !important;

}
.div-main {
    background-color: $back-color !important;
    width: 100%;
    
}

li {
    display: block;
}
ul {
    padding: 0px;
}