.w {
    width: 370 !important;
    height: 550 !important;
    padding: 10 !important;
    display: flex;
} 
.bder { 
    border-right: solid;
    border-width: 1px;
    border-color: #b1afaf;
}
.sm-item {
    height: 33% !important;
}
.wandh {
    width: 30px;
    height: 30px;
}
.sameline {
    padding: 0 0 0 15px;

}
.hinhnho {
    width: 90px;
    height: 130px;
}
.left {
    margin-left: 50px !important;
}
.list-item {
    display: block !important;
    border-bottom: solid;
    border-width: thin;
    border-color: #b1afaf;
    padding-bottom: 10px;
}
.list-group {
    padding: 0px !important;
}
.left-2 {
    position: absolute !important;
}
.left-3 {
    float: right !important;
    display: inline-block !important;
}