.w {
    width: 370 !important;
    height: 550 !important;
    padding: 10 !important;
    display: flex;
} 
.bder { 
    border-right: solid;
    border-width: 1px;
    border-color: #b1afaf;
}
.sm-item {
    height: 33% !important;
}