.p-detail {
    padding: 20px;
}
.hinh-detail {
    width: 210px;
    height: 282px;
}
.back-color-sec-detail {
    background-color: white;
}
.p-detail-left {
    padding-left: 24px;
}
.m-bot {
    margin-bottom: 20px;
}
.sameline-detail {
    display: flex;
}
.m-right {
    margin-right: 3rem;
}
.m-right-2 {
    margin-right: 16px;
}
.center-text-detail {
    padding: 4px 0 0 4px;
    
}
.button-size {
    width: 150px;
    height: 45px;
}