.w {
    padding: 10 !important;
    display: flex;
} 
.bder { 
    border-right: solid;
    border-width: 1px;
    border-color: #b1afaf;
}

.wandh {
    width: 30px;
    height: 30px;
}
.sameline {
    padding: 0 0 0 15px;

}
.hinhnho {
    width: 90px;
    height: 130px;
}
.left {
    margin-left: 50px !important;
}
.list-item {
    display: block !important;
    border-bottom: solid;
    border-width: thin;
    border-color: #b1afaf;
    padding-bottom: 10px;
}
.list-group {
    padding: 0px !important;
}
.left-2 {
    float: left !important;
}
.left-3 {
    float: right !important;
}
.clear-1 {
    float: left !important;
}
.w-list-item {
    width: 100% !important;
}
.display-list-item {
    display: flex;
}
p {
    margin: 0 !important;
}